langchain
langchain-core
sentence_transformers
langchain-huggingface
langchain-community
langchain-groq
chromadb
pypdf
python-dotenv
pydantic
dotenv
psycopg2
bcrypt
fastapi
jwt
pydantic[email] #'pydantic[email]'




